* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.4;
  color: #000;
}

.banner-track {
	display: inline-flex; gap: 2rem;
	animation: scroll 20s linear infinite;
}

.banner-text {
	font-size: 2rem; font-weight: bold;
	color: #fff
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 1rem;
}
